body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


span.field-validation-error {
    color: red;
    font-weight: bold;
}


/*bootstrap override*/

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("fonts/glyphicons-halflings-regular.eot");
    src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}


.popover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse {
    background-color: #1a2069;
    border-color: #1a2069;
}

 .navbar-inverse .navbar-nav > li > a {
        color: #fff;
  }

 .navbar-inverse .notifications {
     position: relative;
 }

.navbar-inverse .notifications .badge {
    position: absolute;
    top: 8px;
    right:-1px;
    background-color: #e60303;
}


 .navbar-inverse .navbar-brand {
        color: #fff;
  }
.navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(78, 86, 187, 0.52);
}


.dropdown-menu {
    box-shadow:none;
    -webkit-box-shadow:none;
}



body {
    font-size: 17px;
}

body,
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: Lato,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 40px;    
}

 .form-control:focus {
    border-color: #337ab7;
    box-shadow:none;
    -webkit-box-shadow:none;
}

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    border-radius: 9px;
  /*  margin-left:70px;
    margin-top:-15px;*/
}


/*/* Page-Level Styles*/

.input-group {
    width: 300px;
}

.gigs{
    list-style:none;
}



.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .details{
    position:absolute;
    top:0;
    left:70px;
}


    .gigs > li .date {
        background: blue;
        color: white;
        width: 60px;
        text-align: center;
        -webkit-border-radius:8px;
        border-radius: 8px;
    }

.gigs > li .date .month {
    text-transform:uppercase;
    font-size: 14px;
    font-weight:bold;
    padding:2px 6px;
  
}
   
.gigs > li .date .day{
    background:#f7f7f7;
    color:#333;
    font-size :20px;
    padding: 6px 12px;
}

    
.gigs > li .details .artist{
    display:block;
    font-weight:bold;
}

.gigs > li .details .genre {
    font-size: 15px;
    display:block;
    margin-bottom:4px;
}

.gigs > li .actions {
    font-size : 15px;
    display :none;
}

.gigs > li :hover .actions{
    display:block;
}



.popover-notifications .popover-content{
    padding: 0px;
}

  ul .notifications {
    list-style: none;
    padding-left: 0;
}

ul .notifications > li {

    border-bottom: 1px solid #ddd;
    padding:10px ;
}

ul .notifications > li:last-child{
      border-bottom: none;
}

.popover-notifications ul.notifications .highlight {

    font-weight: bold;
}




